In [30]:
import pandas as pd
import numpy as np
from os import path as os_path, getcwd
from sys import path as sys_path
import matplotlib.pyplot as plt

import time

import gdax

import datetime

# Importing Keras
from keras.preprocessing.image import ImageDataGenerator
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, Dense, Dropout, Input, Flatten, Activation, GRU, LSTM
from keras.layers import GlobalMaxPooling2D
from keras.layers.normalization import BatchNormalization
from keras.layers.merge import Concatenate
from keras.layers import ELU
from keras.models import Model
from keras import initializers
from keras.optimizers import Adam, RMSprop
from keras.callbacks import ModelCheckpoint, Callback, EarlyStopping

In [31]:
# Get data every 15min between 2 dates
public_client = gdax.PublicClient()
dt = datetime.timedelta(minutes=2*60+15)
begin = datetime.datetime(2017, 1, 1, 0, 0) # Change begin date (YYYY/DD/MM/h/min)
end = datetime.datetime(2017, 1, 2, 0, 0)   # Change end date
data=public_client.get_product_historic_rates('ETH-USD', start = begin, end = begin + dt, granularity=900)


current_time = begin
df_year = pd.DataFrame()
while(current_time < end):
    data=public_client.get_product_historic_rates('ETH-USD', start = current_time, end = current_time + dt, granularity=900)
    df = pd.DataFrame(data, columns=['time','low','high','open', 'close', 'volume'])
    df.time = pd.to_datetime(df['time'], unit='s')
    current_time = df.time[0]
    df=df.iloc[::-1].reset_index(drop=True)
    df_year = df_year.append(df)
    time.sleep(0.5)
    print(current_time)
df_year = df_year.reset_index(drop=True)

2017-01-01 02:00:00
2017-01-01 04:00:00
2017-01-01 06:00:00
2017-01-01 08:00:00
2017-01-01 10:00:00
2017-01-01 12:00:00
2017-01-01 14:00:00
2017-01-01 16:00:00
2017-01-01 18:00:00
2017-01-01 20:00:00
2017-01-01 22:00:00
2017-01-02 00:00:00

In [32]:
display(df_year)

                   time   low  high  open  close       volume
0   2017-01-01 00:00:00  8.11  8.16  8.16   8.16   378.420945
1   2017-01-01 00:15:00  8.16  8.24  8.16   8.24   252.619480
2   2017-01-01 00:30:00  8.24  8.27  8.24   8.27   237.637246
3   2017-01-01 00:45:00  8.25  8.27  8.27   8.26   109.079011
4   2017-01-01 01:00:00  8.26  8.29  8.26   8.29   270.898827
5   2017-01-01 01:15:00  8.27  8.29  8.27   8.29   280.979249
6   2017-01-01 01:30:00  8.27  8.29  8.29   8.28    84.835125
7   2017-01-01 01:45:00  8.28  8.29  8.28   8.29   393.862555
8   2017-01-01 02:00:00  8.30  8.30  8.30   8.30    11.993290
9   2017-01-01 02:00:00  8.30  8.30  8.30   8.30    11.993290
10  2017-01-01 02:15:00  8.30  8.45  8.30   8.45   964.297451
11  2017-01-01 02:30:00  8.47  8.53  8.47   8.51   462.655587
12  2017-01-01 02:45:00  8.46  8.51  8.50   8.47   154.211743
13  2017-01-01 03:00:00  8.45  8.49  8.45   8.49   119.844017
14  2017-01-01 03:15:00  8.51  8.59  8.51   8.59  1009.816042
15  2017-01-01 03:30:00  8.58  8.60  8.59   8.59   650.118874
16  2017-01-01 03:45:00  8.58  8.59  8.59   8.59   405.815166
17  2017-01-01 04:00:00  8.57  8.60  8.58   8.58   184.624275
18  2017-01-01 04:00:00  8.57  8.60  8.58   8.58   184.624275
19  2017-01-01 04:15:00  8.50  8.58  8.58   8.50   204.723572
20  2017-01-01 04:30:00  8.52  8.54  8.52   8.53   120.419928
21  2017-01-01 04:45:00  8.49  8.54  8.54   8.53   264.477704
22  2017-01-01 05:00:00  8.50  8.54  8.53   8.50   118.023231
23  2017-01-01 05:15:00  8.48  8.52  8.52   8.50   418.658071
24  2017-01-01 05:30:00  8.48  8.52  8.50   8.48   285.262213
25  2017-01-01 05:45:00  8.37  8.48  8.48   8.37   301.123855
26  2017-01-01 06:00:00  8.38  8.41  8.38   8.41    25.404527
27  2017-01-01 06:00:00  8.38  8.41  8.38   8.41    25.404527
28  2017-01-01 06:15:00  8.37  8.42  8.41   8.37   192.236083
29  2017-01-01 06:30:00  8.41  8.42  8.41   8.42     8.043988
..                  ...   ...   ...   ...    ...          ...
78  2017-01-01 17:30:00  8.26  8.31  8.28   8.27   298.719843
79  2017-01-01 17:45:00  8.27  8.33  8.27   8.33   203.418995
80  2017-01-01 18:00:00  8.32  8.34  8.33   8.34   199.311939
81  2017-01-01 18:00:00  8.32  8.34  8.33   8.34   199.311939
82  2017-01-01 18:15:00  8.32  8.37  8.35   8.32   189.080494
83  2017-01-01 18:30:00  8.30  8.35  8.33   8.35   820.174654
84  2017-01-01 18:45:00  8.33  8.37  8.35   8.36   251.821575
85  2017-01-01 19:00:00  8.35  8.37  8.36   8.35   160.450953
86  2017-01-01 19:15:00  8.32  8.35  8.35   8.33    74.049644
87  2017-01-01 19:30:00  8.33  8.35  8.33   8.33   113.735834
88  2017-01-01 19:45:00  8.32  8.34  8.33   8.32    98.434479
89  2017-01-01 20:00:00  8.30  8.34  8.33   8.30   240.932690
90  2017-01-01 20:00:00  8.30  8.34  8.33   8.30   240.932690
91  2017-01-01 20:15:00  8.26  8.31  8.30   8.26   894.184405
92  2017-01-01 20:30:00  8.16  8.26  8.25   8.17  2329.531124
93  2017-01-01 20:45:00  8.16  8.25  8.17   8.20  1087.965323
94  2017-01-01 21:00:00  8.08  8.19  8.19   8.09  1736.359727
95  2017-01-01 21:15:00  8.09  8.13  8.09   8.13   397.400110
96  2017-01-01 21:30:00  8.11  8.13  8.13   8.12   301.599752
97  2017-01-01 21:45:00  8.10  8.12  8.12   8.12  1237.127865
98  2017-01-01 22:00:00  8.10  8.14  8.12   8.12   693.926870
99  2017-01-01 22:00:00  8.10  8.14  8.12   8.12   693.926870
100 2017-01-01 22:15:00  8.13  8.16  8.14   8.16   346.446688
101 2017-01-01 22:30:00  8.12  8.16  8.14   8.12   333.638983
102 2017-01-01 22:45:00  8.09  8.12  8.10   8.10   147.827001
103 2017-01-01 23:00:00  8.09  8.15  8.09   8.15    93.571907
104 2017-01-01 23:15:00  8.15  8.18  8.15   8.18    64.996101
105 2017-01-01 23:30:00  8.15  8.18  8.18   8.17   105.212468
106 2017-01-01 23:45:00  8.16  8.20  8.17   8.19   508.011892
107 2017-01-02 00:00:00  8.18  8.20  8.20   8.18   209.416228

[108 rows x 6 columns]