In [1]:
import pandas as pd
import numpy as np
from os import path as os_path, getcwd
from sys import path as sys_path
import matplotlib.pyplot as plt

import time

import gdax

import datetime

In [17]:
# Get data every 15min between 2 dates
public_client = gdax.PublicClient()
max_requests = 15
dt = datetime.timedelta(minutes=15*max_requests)
begin = datetime.datetime(2017, 1, 1, 0, 0) # Change begin date (YYYY/DD/MM/h/min)
end = datetime.datetime(2018, 1, 1, 0, 0)   # Change end date

current_time = begin
df_year = pd.DataFrame()
while(current_time < end):
    data=public_client.get_product_historic_rates('ETH-USD', start = current_time, end = current_time + dt, granularity=900)
    if(data):
        df = pd.DataFrame(data, columns=['time','low','high','open', 'close', 'volume'])
        df.time = pd.to_datetime(df['time'], unit='s')
        df=df.iloc[::-1].reset_index(drop=True)
        df_year = df_year.append(df)
    if(current_time + dt > end):
        current_time = end - dt #Added to finish precisely on the end date
    else:
        current_time += dt
    time.sleep(0.5)
    print(current_time)
df_year = df_year.reset_index(drop=True)

2017-01-04 15:30:00
2017-01-08 07:00:00
2017-01-11 22:30:00
2017-01-15 14:00:00
2017-01-19 05:30:00
2017-01-22 21:00:00
2017-01-26 12:30:00
2017-01-30 04:00:00
2017-02-02 19:30:00
2017-02-06 11:00:00
2017-02-10 02:30:00
2017-02-13 18:00:00
2017-02-17 09:30:00
2017-02-21 01:00:00
2017-02-24 16:30:00
2017-02-28 08:00:00
2017-03-03 23:30:00
2017-03-07 15:00:00
2017-03-11 06:30:00
2017-03-14 22:00:00
2017-03-18 13:30:00
2017-03-22 05:00:00
2017-03-25 20:30:00
2017-03-29 12:00:00
2017-04-02 03:30:00
2017-04-05 19:00:00
2017-04-09 10:30:00
2017-04-13 02:00:00
2017-04-16 17:30:00
2017-04-20 09:00:00
2017-04-24 00:30:00
2017-04-27 16:00:00
2017-05-01 07:30:00
2017-05-04 23:00:00
2017-05-08 14:30:00
2017-05-12 06:00:00
2017-05-15 21:30:00
2017-05-19 13:00:00
2017-05-23 04:30:00
2017-05-26 20:00:00
2017-05-30 11:30:00
2017-06-03 03:00:00
2017-06-06 18:30:00
2017-06-10 10:00:00
2017-06-14 01:30:00
2017-06-17 17:00:00
2017-06-21 08:30:00
2017-06-25 00:00:00
2017-06-28 15:30:00
2017-07-02 07:00:00
2017-07-05 22:30:00
2017-07-09 14:00:00
2017-07-13 05:30:00
2017-07-16 21:00:00
2017-07-20 12:30:00
2017-07-24 04:00:00
2017-07-27 19:30:00
2017-07-31 11:00:00
2017-08-04 02:30:00
2017-08-07 18:00:00
2017-08-11 09:30:00
2017-08-15 01:00:00
2017-08-18 16:30:00
2017-08-22 08:00:00
2017-08-25 23:30:00
2017-08-29 15:00:00
2017-09-02 06:30:00
2017-09-05 22:00:00
2017-09-09 13:30:00
2017-09-13 05:00:00
2017-09-16 20:30:00
2017-09-20 12:00:00
2017-09-24 03:30:00
2017-09-27 19:00:00
2017-10-01 10:30:00
2017-10-05 02:00:00
2017-10-08 17:30:00
2017-10-12 09:00:00
2017-10-16 00:30:00
2017-10-19 16:00:00
2017-10-23 07:30:00
2017-10-26 23:00:00
2017-10-30 14:30:00
2017-11-03 06:00:00
2017-11-06 21:30:00
2017-11-10 13:00:00
2017-11-14 04:30:00
2017-11-17 20:00:00
2017-11-21 11:30:00
2017-11-25 03:00:00
2017-11-28 18:30:00
2017-12-02 10:00:00
2017-12-06 01:30:00
2017-12-09 17:00:00
2017-12-13 08:30:00
2017-12-17 00:00:00
2017-12-20 15:30:00
2017-12-24 07:00:00
2017-12-27 22:30:00
2017-12-31 14:00:00
2017-12-28 08:30:00
2018-01-01 00:00:00

In [20]:
display(df_year)
df_year.to_pickle("data/ETH_USD_2017_2018_15min.pkl")

                     time     low    high    open   close       volume
0     2017-01-01 00:00:00    8.11    8.16    8.16    8.16   378.420945
1     2017-01-01 00:15:00    8.16    8.24    8.16    8.24   252.619480
2     2017-01-01 00:30:00    8.24    8.27    8.24    8.27   237.637246
3     2017-01-01 00:45:00    8.25    8.27    8.27    8.26   109.079011
4     2017-01-01 01:00:00    8.26    8.29    8.26    8.29   270.898827
5     2017-01-01 01:15:00    8.27    8.29    8.27    8.29   280.979249
6     2017-01-01 01:30:00    8.27    8.29    8.29    8.28    84.835125
7     2017-01-01 01:45:00    8.28    8.29    8.28    8.29   393.862555
8     2017-01-01 02:00:00    8.30    8.30    8.30    8.30    11.993290
9     2017-01-01 02:15:00    8.30    8.45    8.30    8.45   964.297451
10    2017-01-01 02:30:00    8.47    8.53    8.47    8.51   462.655587
11    2017-01-01 02:45:00    8.46    8.51    8.50    8.47   154.211743
12    2017-01-01 03:00:00    8.45    8.49    8.45    8.49   119.844017
13    2017-01-01 03:15:00    8.51    8.59    8.51    8.59  1009.816042
14    2017-01-01 03:30:00    8.58    8.60    8.59    8.59   650.118874
15    2017-01-01 03:45:00    8.58    8.59    8.59    8.59   405.815166
16    2017-01-01 04:00:00    8.57    8.60    8.58    8.58   184.624275
17    2017-01-01 04:15:00    8.50    8.58    8.58    8.50   204.723572
18    2017-01-01 04:30:00    8.52    8.54    8.52    8.53   120.419928
19    2017-01-01 04:45:00    8.49    8.54    8.54    8.53   264.477704
20    2017-01-01 05:00:00    8.50    8.54    8.53    8.50   118.023231
21    2017-01-01 05:15:00    8.48    8.52    8.52    8.50   418.658071
22    2017-01-01 05:30:00    8.48    8.52    8.50    8.48   285.262213
23    2017-01-01 05:45:00    8.37    8.48    8.48    8.37   301.123855
24    2017-01-01 06:00:00    8.38    8.41    8.38    8.41    25.404527
25    2017-01-01 06:15:00    8.37    8.42    8.41    8.37   192.236083
26    2017-01-01 06:30:00    8.41    8.42    8.41    8.42     8.043988
27    2017-01-01 06:45:00    8.43    8.47    8.43    8.45    13.627859
28    2017-01-01 07:00:00    8.42    8.49    8.46    8.49   220.432583
29    2017-01-01 07:15:00    8.45    8.46    8.46    8.46     3.347124
...                   ...     ...     ...     ...     ...          ...
35528 2017-12-31 16:30:00  737.87  743.24  738.94  740.00   829.961408
35529 2017-12-31 16:45:00  735.49  741.14  740.00  738.00   645.288069
35530 2017-12-31 17:00:00  737.99  742.00  737.99  739.37   626.223011
35531 2017-12-31 17:15:00  739.17  741.50  739.36  740.75   426.427114
35532 2017-12-31 17:30:00  738.02  743.25  741.50  743.25   835.808928
35533 2017-12-31 17:45:00  742.51  743.67  743.24  743.50   381.529864
35534 2017-12-31 18:00:00  743.00  744.00  743.50  744.00   425.443336
35535 2017-12-31 18:15:00  741.27  744.00  743.98  742.02   392.625611
35536 2017-12-31 18:30:00  738.00  742.19  742.01  739.14   372.593083
35537 2017-12-31 18:45:00  739.13  739.90  739.14  739.89   537.619418
35538 2017-12-31 19:00:00  739.88  742.00  739.89  742.00   435.773533
35539 2017-12-31 19:15:00  741.99  743.50  742.00  743.48   518.563890
35540 2017-12-31 19:30:00  740.61  743.75  743.48  741.67   315.802325
35541 2017-12-31 19:45:00  741.67  743.42  741.68  743.42   371.561312
35542 2017-12-31 20:00:00  743.41  744.00  743.42  744.00   632.883065
35543 2017-12-31 20:15:00  743.99  744.87  744.00  744.84   395.524681
35544 2017-12-31 20:30:00  744.88  748.00  744.88  747.99   498.710040
35545 2017-12-31 20:45:00  747.98  750.11  747.99  750.11   587.667125
35546 2017-12-31 21:00:00  745.21  751.00  750.11  745.31   770.875878
35547 2017-12-31 21:15:00  743.96  746.89  745.32  744.50   427.171941
35548 2017-12-31 21:30:00  744.49  747.00  744.50  745.00   301.073672
35549 2017-12-31 21:45:00  744.02  746.37  744.02  746.08   287.657461
35550 2017-12-31 22:00:00  743.61  747.79  746.09  744.18   393.204279
35551 2017-12-31 22:15:00  743.11  746.65  744.19  743.39   277.474894
35552 2017-12-31 22:30:00  743.10  745.98  743.38  744.99   279.246315
35553 2017-12-31 22:45:00  743.00  750.00  745.00  743.01   482.525009
35554 2017-12-31 23:00:00  742.15  743.01  743.01  742.16   343.758207
35555 2017-12-31 23:15:00  740.33  742.16  742.16  742.00   389.476687
35556 2017-12-31 23:30:00  741.48  743.00  742.00  743.00   707.468655
35557 2017-12-31 23:45:00  741.27  743.01  742.99  741.27   582.789057

[35558 rows x 6 columns]