In [1]:
import pandas as pd
import numpy as np

import tensorflow as tf

import gym
import trading_env

env = gym.make('trading-v0')

WARN: gym.spaces.Box autodetected dtype as <class 'numpy.float32'>. Please provide explicit dtype.
WARN: Environment '<class 'trading_env.envs.trading_env.TradingEnv'>' has deprecated methods. Compatibility code invoked.

In [2]:
df_year = pd.read_pickle("data/ETH_USD_2017_2018_15min.pkl")
display(df_year.head(5))

                 time   low  high  open  close      volume
0 2017-01-01 00:00:00  8.11  8.16  8.16   8.16  378.420945
1 2017-01-01 00:15:00  8.16  8.24  8.16   8.24  252.619480
2 2017-01-01 00:30:00  8.24  8.27  8.24   8.27  237.637246
3 2017-01-01 00:45:00  8.25  8.27  8.27   8.26  109.079011
4 2017-01-01 01:00:00  8.26  8.29  8.26   8.29  270.898827

In [ ]:
n_features = 4 # Low, High Close, Volume
n_days_window = 30
n_window = (n_days_window * 24 * 60) // 15

In [3]:
a = 1+1
print(a)

2