In [1]:
import pandas as pd
import numpy as np

import tensorflow as tf

import gym
import trading_env

In [2]:
env = gym.make('trading-v0')

In [8]:
print(env.step(None))

(array([[  854.66      ,   391.50560803],
       [  853.        ,   660.2372293 ],
       [  853.06      ,   674.91328127],
       [  853.39      ,   353.05242027],
       [  853.07      ,   335.0114585 ],
       [  851.6       ,  1312.26131638],
       [  852.65      ,   639.85362155],
       [  853.63      ,   585.62493721],
       [  854.31      ,   260.13585904],
       [  854.18      ,   329.97176459],
       [  853.93      ,   252.59454638],
       [  853.42      ,   305.44398991],
       [  852.45      ,   378.30333085],
       [  852.04      ,   295.21084624],
       [  848.83      ,  1002.92702776],
       [  845.01      ,  1060.81713567],
       [  841.51      ,  1580.08971367],
       [  841.28      ,   864.54532547],
       [  841.21      ,   732.52409934],
       [  839.1       ,  1278.66365683],
       [  838.95      ,   338.7200612 ],
       [  840.        ,   674.4560149 ],
       [  842.75      ,   549.47246754],
       [  843.74      ,   504.60043757],
       [  842.45      ,   722.65375036],
       [  840.45      ,   373.59710897],
       [  843.42      ,   737.52231245],
       [  842.22      ,   352.8928613 ],
       [  842.45      ,   272.38832462],
       [  843.06      ,   205.05557842],
       [  843.18      ,   206.06844299],
       [  845.99      ,   323.33027372],
       [  846.5       ,   277.02256121],
       [  846.01      ,   765.45176083],
       [  845.99      ,   932.39351814],
       [  846.3       ,   130.66050502],
       [  848.69      ,   382.36959339],
       [  848.77      ,   217.1601082 ],
       [  848.11      ,   280.7503592 ],
       [  848.77      ,   243.10250302],
       [  849.97      ,   262.03255023],
       [  847.92      ,   649.41589501],
       [  847.83      ,   103.59840217],
       [  847.56      ,   159.62086372],
       [  847.03      ,   214.1567844 ],
       [  847.01      ,   122.32859123],
       [  847.1       ,   179.28777567],
       [  847.09      ,   444.82662335],
       [  848.95      ,   171.34529732],
       [  846.01      ,   195.18587895],
       [  845.81      ,   219.59459231],
       [  847.28      ,   147.4781737 ],
       [  847.99      ,   131.64644862],
       [  847.87      ,   112.45106074],
       [  847.51      ,   133.90394123],
       [  841.02      ,   499.3995575 ],
       [  840.26      ,   566.82515589],
       [  832.3       ,  1086.94396561],
       [  833.98      ,   377.25599822],
       [  832.        ,   359.90998959],
       [  828.37      ,  1364.55759624],
       [  830.35      ,   574.63381854],
       [  833.34      ,   205.46822202],
       [  833.5       ,   326.06287475],
       [  830.01      ,   333.17439297],
       [  829.64      ,   449.34386236],
       [  830.26      ,   371.29056017],
       [  829.        ,   454.78975245],
       [  828.        ,   371.36920779],
       [  823.18      ,   731.49800566],
       [  824.46      ,   682.93587245],
       [  823.38      ,   406.93728063],
       [  823.9       ,  1052.10627207],
       [  829.41      ,   776.62319052],
       [  829.4       ,   579.41313644],
       [  829.42      ,   479.02232254],
       [  829.96      ,   618.08737474],
       [  830.51      ,   383.88517898],
       [  831.15      ,   423.07722345],
       [  830.01      ,   753.96455755],
       [  827.14      ,   684.24870384],
       [  828.37      ,   606.95813625],
       [  827.07      ,   345.30308489],
       [  824.61      ,   932.80409092],
       [  820.75      ,  1280.53439786],
       [  819.44      ,  1405.33185612],
       [  816.73      ,  1306.26194058],
       [  821.21      ,   920.3486292 ],
       [  820.98      ,   407.35668182],
       [  819.        ,   548.44436431],
       [  811.99      ,  1455.09372944],
       [  807.09      ,  2371.57734678],
       [  804.15      ,  1528.91989614],
       [  807.33      ,  4304.16529164],
       [  810.41      ,   786.15073849],
       [  810.        ,   703.39818979],
       [  808.89      ,   631.7492298 ],
       [  809.86      ,   575.62291724],
       [  809.02      ,   546.29681743],
       [  816.3       ,   756.53119583]]), 0.0024920224889834162)

In [4]:
df_year = pd.read_pickle("data/ETH_USD_2017_2018_15min.pkl")
display(df_year.head(5))

                 time   low  high  open  close      volume
0 2017-01-01 00:00:00  8.11  8.16  8.16   8.16  378.420945
1 2017-01-01 00:15:00  8.16  8.24  8.16   8.24  252.619480
2 2017-01-01 00:30:00  8.24  8.27  8.24   8.27  237.637246
3 2017-01-01 00:45:00  8.25  8.27  8.27   8.26  109.079011
4 2017-01-01 01:00:00  8.26  8.29  8.26   8.29  270.898827

In [ ]:
n_features = 4 # Low, High Close, Volume
n_days_window = 30
n_window = (n_days_window * 24 * 60) // 15

In [ ]:
a = 1+1
print(a)